<div class="lc-block" id="l-forget-password" ng-class="{ 'toggled': lctrl.showForgot === 1 }" ng-if="lctrl.showForgot === 1">

    <div>
        <ng-include src="'Content/labels/'+currentLabel+'/Header-A.html'"></ng-include>
    </div>

    <!-- IF AUTH MODE REPO, Let user request password reset-->
    <div ng-if="authAuthMode == 'REPO'">

        <div class="m-b-20">
            <h4 class="text-left p-l-15" ng-if="!lctrl.pwResetSuccess">Request Password Reset</h4>
            <h4 class="text-left p-l-15" ng-if="lctrl.pwResetSuccess">Password Reset Request Successful</h4>
        </div>

        <!--Show Request Form - Initially-->
        <div ng-if="!lctrl.pwResetSuccess">

            <form name="formPasswordReset" ng-submit="lctrl.doPasswordReset()" autocomplete="off" novalidate>

                <div class="p-r-10">
                    <div class="border-b-dash m-b-10">
                        Please provide the registered User (email) for this password reset request.
                    </div>
                    
                    <!--USER NAME-->
                    <div class="input-group" ng-class="{ 'm-b-15' : !(formPasswordReset.userName.$invalid && !formPasswordReset.userName.$pristine) }">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line fg-line-{{currentSkin}}">
                            <input name="userName" type="email" class="form-control"
                                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                   placeholder="User (email)"
                                   ng-model="lctrl.pwResetData.userName"
                                   required autofocus>
                        </div>
                        <small ng-show="formPasswordReset.userName.$invalid && !formPasswordReset.userName.$pristine" class="help-block">Enter valid email</small>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <button class="btn bgm-{{ currentSkin == 'default' ? 'blue' : currentSkin }} btn-icon-text w-100"
                        type="submit"
                        ng-disabled="formPasswordReset.$invalid">
                    <i class="zmdi zmdi-arrow-forward"></i> Request Reset
                </button>
            </form>

        </div>

        <!--Show after successful request-->
        <div ng-if="lctrl.pwResetSuccess" class="p-15">

            <p class="text-justify">
                Your Password Reset request is complete. You will receive an email with link to reset your password
                to your account, shortly.
            </p>

        </div>

    </div>

    <div ng-if="authAuthMode == 'AD'">
        <div class="m-b-20">
            <h4 class="text-left p-l-15">Request Password Reset</h4>
        </div>
        <div class="p-r-10">
            <div class="border-b-dash m-b-10">
                This system is configured for Enterprise Directory Authentication. Please use your enterprise login password reset request process to reset your password.
            </div>
        </div>
    </div>


    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-green" ng-click="lctrl.showForgot = 0; lctrl.showLogin = 1">Login</li>
        <li data-block="#l-register" class="bgm-red" ng-click="lctrl.showForgot = 0; lctrl.showRegister = 1">Register</li>
    </ul>

    <div ng-include="'Content/brand/Footer-A.html'"></div>

</div>